
#formAddImage{
    align-content: center;
    margin: auto;
    vertical-align: middle;
    border-color: #00b0ff;
}
#imageSelector{
    align-content: center;
    vertical-align: middle;
}
form{
    align-content: center;
}

img#newImage{
    max-width: 700px;
    max-height: 500px;
}

.preview {
    overflow: hidden;
    width: 200px;
    height: 200px;
    display:block;
    margin:auto;
}

#small{
    overflow: hidden;
    width: 100px;
    height: 100px;
    display:block;
    margin:auto;
}

#big{
    overflow: hidden;
    width: 400px;
    height: 400px;
    display:block;
    margin:auto;
}


.previewText{
    text-align: center;
}

.selector{
    width: 50%;
    margin: 0 auto;
}