
#formAddImage{
    align-content: center;
    margin: auto;
    vertical-align: middle;
    border-color: #00b0ff;
}
#imageSelector{
    align-content: center;
    vertical-align: middle;
}


form{
    align-content: center;
}

img#newImage{
    width: 600px !important;
    height: 400px !important;
}