
.img-wrapper {
    width: 100%;
    height: 100%;
}

.img-wrapper img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.img-wrapper img:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.img-header {
    float: left;
    margin: 0px 15px 15px 0px;
}
.navBarTextNotif{
    margin: 15px !important;
}

body{
    margin-top: 100px;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#user_acces_icon{
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
    margin-top: -5px;
}

.navBarIcons{
    width: 25px;
    height: 25px;
    margin-left: 3px;
}
.navBarText{
    margin-left: 12px;
    color: black!important;
    font-weight: normal !important;
}

#logo_navbar{
    max-width: 40px!important;
    max-height: 40px!important;
    margin-right: 20px;
    margin-top: 5px;
}

nav.navbar.navbar-inverse.navbar-fixed-top{
    background-color: white;
    border-color: #f4f4f4;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: white;
    border-color: #f4f4f4;
}
.dropdown-toggle:active, .open .dropdown-toggle {
    background:whitesmoke !important;
    color:black !important;
}

.dropDownNav:hover {
    color: black!important;;
}

a.dropDownNav:visited {
    color: black!important;;
}

a.navbar-brand:visited {
    color: black!important;;
}
a#inicioBtn:visited{
    color: grey!important;;
}

a#login_home:visited{
    color: grey!important;;
}

button.navbar-toggle{
    background-color: black;
}

#footerA{
    padding-bottom: 30px;
    margin-right: 14px;
    margin-left: 14px;
}
#datepicker{
    margin-bottom: 0px !important;

}

#password_reg{
    margin-top: 5px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

footer {
    clear: both;
    position:relative;
    z-index: 10;
    height: 3em;
    margin-bottom: -1em;
}

.maintext{
    color: black!important;
    font-weight: normal !important;
}

#tableNotificationsList{
    list-style-type: none;
}
.tableNotificationsText{
    margin-left: -10px;
    min-width: 250px;
    max-height: 400px;
}

.overFlow{
    overflow: hidden !important;
    max-width: 350px;
    text-overflow: ellipsis;word-break: break-all;
}

.textList{
    color: black;
    font-weight: normal;
}


.textListTop{
    color: black;
    padding-top: 10px;
    font-weight: normal;
}
.commentNot{
    margin-right: 10px;
}

a.titlePost{
    font-weight: bold !important;
    color: black!important;
}

a.titlePost:visited {
    color: black!important;
}
a.titlePost:link {
    color: black!important;
}
a.titlePost:active {
    color: black!important;
}

.tiempo{
    color: grey!important;
    font-weight: normal !important;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel .panel-white .post .panel-shadow {
    border: 0 !important;
}
.divLinia{
    border: 0 !important;
    border-bottom: 0 !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05) !important;
    margin-bottom: 0!important;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}
.post .post-footer {
    padding: 10px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}


.post .post-footer .comments-list .comment .comment-heading .noComments {
    font-size: 13px;
    color: #aaa;
    margin-top: 0;
    display: inline;
    text-align: center;
}

li.comment{
    text-align: left !important;
}
.equal {
     display: flex;
     display: -webkit-flex;
 }
.equal > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}





.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
    width:100%;
}
.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
    max-width: 329px;
    min-width: 329px!important;
    border-width: 0;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.row{
    margin-right: 0!important;
    margin-left: 0!important;
}


.input-group {
    width:auto !important;
    margin-top: 5px;
}

.likeButton{
    width: 15% !important;
    float: left;
    margin-left: -20px;
    margin-right: 20px;
}





.img_gallery{
    margin: 15px!important;

}

span {
    cursor:pointer;
}

.statusError{
    margin-top: 10px;
    margin-bottom: 0px !important;
}