
div.buttons_icons{
    width:100% !important;
    min-width: 425px;
}
#gallery{
    margin-top: 25px;
}

.img_profile{
    display: block;
    margin: 0 auto;
}
div.portfolio-item{
    min-width: 300px;
    min-height: 400px;
    display: inline-block;
    align-content: center;
}

.img-wrapper {
    min-width: 300px;
}

A#link_username:visited {
    color: white!important;

}
A#link_username{
    margin-top: 30px;
}
A#link_username:hover {
    text-decoration: none;
}
#username:hover {
    color: #D2D2D2!important;
}


A {
    text-decoration: none !important;
}
