#title{
    text-transform:capitalize;
    font-weight: bold;
    font-size: 32px;
}

#link_username{
    text-transform:capitalize;
}

#main_image{
    width: 100%;
}

#label_like{
    margin-top: 20px;
}

A:hover{
    text-decoration: none !important;
    color: #666666;
}

/**
Definimos qui el tamaño para que en el twig de subir imagen se mantega igual y no cambie su estilo.
 */
.selector{
    margin:0 !important;
    width: 25% !important;
}
section#formAddImage{
    width: 398%;
}

input#titleimage{
    background-color: white;
    color: black;
}

.edit .modal-dialog{
    margin: auto;
    width: 50%;
    margin-top: 150px !important;
    max-width: 400px;
    min-width: 350px;
}

p.textComment {
    max-width: 100% ;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.infoImg {
    font-weight: 700 !important;
}
#backgroundInfoImg{
    background: #D2D2D2!important;
    padding: 20px;
    margin-bottom: 5px;
}