/*#main_image{
    width:70%;
    height: 70%;
    margin-right: 5%;
    float: left;
}

#content{
    float: left;
}
#title{
    text-transform:capitalize;
    font-weight: bold;
    font-size: 32px;
}

.right_container{
    width:25%;
    height: 70%;
}
h2{
    margin-top: 0% !important;
}*/

#title{
    text-transform:capitalize;
    font-weight: bold;
    font-size: 32px;
}
#link_username{
    text-transform:capitalize;
}

#main_image{
    width: 100%;
}
#label_like{
    margin-top: 20px;
}

A:hover{
    text-decoration: none !important;
    color: #666666;
}

p{
    font-size: large;
}
