{% extends "base_gabri.twig" %}
{% block title %}Error Page{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1{text-transform: uppercase;}
    </style>
{% endblock %}
{% block content %}
    <h1>Oops! An error has occurred</h1>
    <div>
        <h2> The server returned a {{ message }}</h2>
    </div>
{% endblock %}
{% block footer %}{% endblock %}